<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
</agm-map>

<hr>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Lugares Cercanos</h2>
      <a routerLink="/crear/new" class="btn btn-primary" *ngIf="!loggedIn">Crear nuevo negocio</a>
      <ul class="list-group">
        <ng-container *ngFor="let lugar of lugares">
            <li class="list-group-item">
              <a routerLink="/crear/{{lugar.id}}"> <h3>{{lugar.nombre | uppercase}}</h3></a>
              <br>
              <small>Creado: {{lugar.id | date:'medium' | lowercase}}</small>
              <p [innerHtml]="lugar.descripcion | linkifystr"></p>
            </li>
        </ng-container>  
      </ul>  
    </div>

    <div class="col-md-4" [@contenedorAnimable]="state">
      <h2>Destacados</h2>
      <ng-container *ngFor="let lugar of lugares">
          <div class="bg-info padding" *ngIf="lugar.plan == 'pagado'">
            <a routerLink="/crear/{{lugar.id}}"> <h3>{{lugar.nombre | uppercase}}</h3></a>  
            <p [innerHtml]="lugar.descripcion | linkifystr"></p>
          </div>
      </ng-container>
    </div>

  </div>
</div>