<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4 well">
            <label>Email</label>
            <input type="email" class="form-control" [(ngModel)] = "loginParams.email">
            <br>
            <label>Contraseña</label>
            <input type="password" class="form-control" [(ngModel)] = "loginParams.password">
            <hr>
            <a class="btn btn-primary btn-block" (click)="login()">Login</a>
            <a class="btn btn-default btn-block">Cancelar</a>
        </div>
    </div>
</div>