<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">PlatziSquare</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/lugares">Inicio<span class="sr-only">(current)</span></a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/contacto">Contacto</a>
        </li>        
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="!loggedIn">
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/registro">Registro</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="loggedIn">
        <li *ngIf="loggedUser"><a>{{loggedUser}}</a></li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>

    </div>
  </div>
</nav>
<router-outlet></router-outlet>