<div class="well">
    <a routerLink="/lugares">Lugares</a> / Crear Lugar
</div>

<div class="container">
    <label>Nombre</label>
    <input type="text" class="form-control" [(ngModel)]="lugar.nombre" >
    <br>
    <label>Distancia</label>
    <input type="number" class="form-control" [(ngModel)]="lugar.distancia">
    <br>
    <label>Cercania</label>
    <input type="number" class="form-control" [(ngModel)]="lugar.cercania">
    <br>
    <label>Descripcion</label>
    <textarea class="form-control" [(ngModel)]="lugar.descripcion"></textarea>
    <br>
    <label>Plan</label>
    <input type="text" class="form-control" [(ngModel)]="lugar.plan">
    <h3>Datos de la dirección</h3>
    <div class="well">
        <form>
            <label>Buscar dirección en google maps</label>
            <input type="text" class="form-control" [formControl]="searchField">
        </form>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let result of results$ | async" (click)="seleccionarDireccion(result)">{{result.formatted_address}}</li>
        </ul>
    </div>
    <label>Calle y número</label>
    <input type="text" class="form-control" [(ngModel)]="lugar.calle">
    <br>
    <label>Ciudad</label>
    <input type="text" class="form-control" [(ngModel)]="lugar.ciudad">
    <br>
    <label>Pais</label>
    <input type="text" class="form-control" [(ngModel)]="lugar.pais">
    <hr>
    <a class="btn btn-primary" (click)="guardarLugar()">Enviar</a>
    <a class="btn btn-default" routerLink="/lugares">Cancear</a>
</div>