/* You can add global styles to this file, and also import other style files */
agm-map {
  height: 300px;
}

.numero_par{
  background: aliceblue;
  color: blue;
}

.cuadrado{
  width: 200px;
  height: 200px;
  background-color: red;
}

.padding{
  padding: 10px;
  margin-bottom: 10px;  
}
